body{
  font-family:sans-serif;
  margin:0;
  background:#0d0d0d;
  color:#bfbfbf;
}

/* navbar */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#111;
}

nav a{
  color:#bfbfbf;
  text-decoration:none;
  margin:10px;
}

nav a:hover{
  color:#ff6a00;
}

/* hero */
.hero{
  height:90vh;
  background:#0d0d0d;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

h1{
  color:white;
}

/* buttons */
.btn{
  padding:12px 25px;
  background:#ff6a00;
  color:white;
  text-decoration:none;
  border-radius:5px;
  margin-top:20px;
}

.btn:hover{
  background:#e65c00;
}

/* sections */
section{
  padding:60px 20px;
  background:#1a1a1a;
  margin:20px;
  border-radius:10px;
}

/* cards */
.cards div{
  background:#111;
  padding:20px;
  border-radius:10px;
  color:white;
}

/* gallery */
.gallery img{
  border-radius:10px;
  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.05);
}

/* popup */
.popup{
  background:rgba(0,0,0,0.95);
}
