/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */
body{
  font-family: Arial, sans-serif;
  background:#f2f2f2;
  color:#222;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  background:#ffffff;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

nav a{
  margin:10px;
  text-decoration:none;
  color:#333;
}

nav a:hover{
  color:#ff6a00;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
}

h1{
  font-size:34px;
  margin-bottom:15px;
}

h2{
  font-size:24px;
  margin-bottom:10px;
}

p{
  font-size:16px;
  color:#666;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#ff6a00;
  color:white;
  border-radius:6px;
  text-decoration:none;
}

.btn:hover{
  background:#e65c00;
}

/* SECTION */
section{
  background:#ffffff;
  margin:20px;
  padding:40px;
  border-radius:10px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
}

.card{
  background:#fafafa;
  padding:20px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* GALLERY */
.gallery img{
  width:100%;
  border-radius:10px;
}

/* MOBILE */
@media(max-width:768px){
  h1{font-size:26px;}
  h2{font-size:20px;}
}
